<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Account</h1>
    <p class="lead">Check out your favorite spots to eat and drink around the country</p>
    <a class="btn btn-primary btn-lg" href="/dining_spots/new" role="button">Add Spot</a>
    <a class="btn btn-primary btn-lg" href="/dining_spots/explore" role="button">Explore</a>
  </div>
</div>

<div class="container-fluid">
  <div class="card-columns">
    <% @user.dining_spots.each do |dining_spot| %>
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title"><a href="/dining_spots/<%= dining_spot.id %>"><%= dining_spot.name %></a></h5>
        <p class="card-text"><%= dining_spot.address %></p>
        <p class="card-text"><%= dining_spot.website %></p>
        <p class="card-text"><small class="text-muted"><a href="/dining_spots/<%= dining_spot.id %>">Added:
              <%= dining_spot.created_at %></a></small></p>
      </div>
    </div>
    <% end %>
  </div>
</div>