SHOW PAGE FOR DINING_SPOTS

<div>
  <h2><%= @dining_spot.name %></h2>
  <p><%= @dining_spot.address %></p>
  <p><%= @dining_spot.website %></p>
</div>

<!-- edit link -->
<% if current_user == @dining_spot.user %>
<a href="/dining_spots/<%= @dining_spot.id %>/edit">Edit</a>

<!-- delete link -->
<br><br>
<form action="/dining_spots/<%= @dining_spot.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete">
</form>
<% end %>